= form_tag :controller => "user", :action => "login" do
  .loginHeader
    Login
  = label_tag "Username: "
  = text_field "user", "username", :size => 15
  %br
  = label_tag "Password: "
  = password_field "user", "pass", :size => 15
  %br
  = submit_tag "submit"
  %br
  = link_to 'Register', user_signup_url
